<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="no-js">

<head>
	<link rel="stylesheet" href="../../../{{_config.components.profiCSS}}" />

	<meta charset="utf-8" />
	<meta name="referrer" content="origin" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>ProFI Pattern Library</title>
</head>

<body class="pattern-library">
	{{{ yield }}}

	<script src="../../../{{_config.components.polyfillsJS}}"></script>
	<script src="../../../{{_config.components.vendorJS}}"></script>
	<script src="../../../{{_config.components.appJS}}"></script>
</body>

</html>
